@import url(https://fonts.googleapis.com/css?family=Lato:300italic,700italic,300,700);


body {
	padding:35px;
	font:17px/1.5 Lato, "Helvetica Neue", Helvetica, Arial, sans-serif;
	color:#BBB;
	font-weight:300;
	width:840px;
	margin:0 auto;
	background: #000 url('../assets/binding_dark.png');
	word-spacing: 0.15em
}

.title_link {
	float: left;
	padding: 5px;
	color: #CCC;
	font-size: 18px;
}

.project {
	clear:both;
	padding: 5px;
}

.project_header {
	-webkit-margin-before:0em;
	-webkit-margin-after:0em;
	padding-bottom: 10px;
	padding-left: 10px;
	line-height: 1.0;
}


.project_screenshot {
	width: 40%;
	height: auto;
	float: left;
}

.project_description {
	float:left;
	width: 55%;
	margin-left: 20px;
	margin-top: 0px;
}

.detail_button {
	cursor: hand; 
	cursor: pointer;
}

.project_details {
	position:relative;
	display: none;
	width: 100%;
	height: 100%;
	margin-top: 0px;
	margin-bottom: 0px;
}

.project_link {
	float: right;
	margin-top: 0px;
	margin-bottom: 0px;
	padding: 0px;
	font-size: 14px;
	text-decoration: none;
}

.project_link:hover {
	text-decoration: underline;
}

.section_separator {
	height: 1px;
	width: 70%;
	display: block;
	background: #BBB;
	border: 0;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 13px;
	margin-top: 13px;
}

.separator {
	height: 1px;
	width: 90%;
	display: block;
	background: #BBB;
	border: 0;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 30px;
	margin-top: 30px;
}


.vertical_separator {
	float: right;
	font-size: 15px;
	margin-left: 5px;
	margin-right: 5px;
}

.clear {
	clear: both;
}

header {
	width:270px;
	height: 75px;
	padding-bottom: 15px;
}

a {
	color: #BBB;
}

h1 {
	color: #DDD;
	font-size:38px;
	margin:0 0 0px;
}

h2 {
	font-size:21px;
	-webkit-margin-after:5px;
	margin-bottom: 5px;
	text-align:center;
}

h3 {
	font-size:19px;
	-webkit-margin-before:0em;
	-webkit-margin-after:0em;
	font:20px Lato, "Helvetica Neue", Helvetica, Arial, sans-serif;
}

footer {
	padding-top: 40px;
	font-size:15px;
	clear:both;
	text-align:center;
	color: #AAA;
}
